* {margin: 0; padding: 0; box-sizing: border-box;}
header {
  background-color: lightcoral;
  padding: 20px 10px;
  font-weight: bold;
}
header > div {
  color:white;
  padding-top: 1rem;
}
.list {
  position: relative;
  padding: 20px 10px;
  background-color: lightsalmon;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}
.but2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.ip {
  margin-left: 10px;
  width: 300px;
}
.ip2 {
  margin-left: 10px;
  width: 300px;
  height: 100px;
  word-wrap:break-word;
  resize: none;
}
.input >p {
  padding-top: 1rem;
}
.listname {
  width: calc(100% - 50px);
  font-size: 20px;
}

.good {width: 50px;}
.good>span {
  cursor: pointer;
}
.date {
  width: 50%;
  font-size: 0.75rem;
  padding-top: 10px;
  white-space: wrap;
  color:rgba(0,0,0,0.7)
}

.modal {
  background-color: #eee;
  padding: 20px;
  position: absolute;
  top: 100px;
  right: 0;
  width: 50%;
  z-index: 10;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* background-color: ; */
}

.input p{
  display: flex;
  
}
.but {
  margin-left: 20px;
  margin-top: 1rem;
  width: 80px;
  height: 30px;
}
